body {
    background-color: darkslategrey;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Nav */
.navbar {
    display: flex;
    border-style: ridge;
    border-radius: 2px;
    background-color: black;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.navbar-links a {
    color: gray;
    border-radius: 2px;
    border-color: blue;
}

.navbar-links {
    color: gainsboro;
    border-radius: 2px;
}


h1 {
    color: white;
    margin: 0 0 20px;
    text-align: center;
}

.portfolio-card {
    background-color: lightgray;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
}

.portfolio-card:hover {
    transform: translateY(-5px);
}

.portfolio-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.portfolio-card h2 {
    font-size: 1.5em;
    margin: 15px 0;
    color: #2726d5;
}

.portfolio-card p {
    padding: 0 15px;
    color: gray;
    font-size: 0.9em;
    line-height: 1.4;
    margin-bottom: 20px;
}

.portfolio-card .buttons {
    padding: 0 15px 20px;
    display: flex;
    justify-content: space-around;
}

.portfolio-card button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.portfolio-card button.live {
    background-color: ghostwhite;
    color: gray;
}

.portfolio-card button.live:hover {
    background-color: darkslategrey;
}

.portfolio-card button.code {
    background-color: lightcyan;
    color: gray;
}

.portfolio-card button.code:hover {
    background-color: #567986;
}